server {
    listen 80;
    server_name {{ index_hostname }};
    return 301 https://$host$request_uri;
}

server {
    listen 443;
    server_name {{ index_hostname }};

    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ index_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ index_hostname }}/privkey.pem;

    location / {
        root {{ index_root }};
        index index.html;

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root {{ index_root }};
        }
    }
}
